<!DOCTYPE html>
<html
  lang="pt_br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes"
    />
    <title>Document</title>
  </head>
  <body>
    <div
      class="alert alert-success alert-dismissible"
      role="alert"
      th:if="${not #strings.isEmpty(mensagem)}"
    >
      <span th:text="${mensagem}"></span>
    </div>
  </body>
</html>
